<!DOCTYPE html>
<html>
	<head>
		<title>お探しのページがみつかりません | GAEサンプル</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Custom styles for this template -->
		<link href="/css/bootstrap.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
</head>

<body>
	<div id="wrap">
			<!-- Wrap all page content here -->
		<div class="page-header">
			<div class="container">
				<h1>ページがみつかりません</h1>
			</div>
		</div> <!-- .page-header -->

		<div class="topmenu" id="topmenu"></div>
			<!-- navbar -->
			<div class="container">
				<p>お探しのページがみつかりません。<br>URLをご確認の上、再度アクセスして下さい。</p>

			</div>
	</div>
		<!-- <br> -->
		<footer id="footer">
			<div id="footer-content" class="container">
				<div class="copyright">&copy; 2016 FreeGufo All Rights Reserved.</div>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
